<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @group.year %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @group.subject.name %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
